@using MudBlazor
@typeparam TContactNumberOwner

<MudCard>
    <MudCardHeader>
        <MudText Typo="Typo.h6">Contact Numbers</MudText>
    </MudCardHeader>
    <MudCardContent>
        <div data-scrollbar="true" data-height="280px" class="bg-silver">
            <MudTable Items="ContactNumbers" Hover="true" Breakpoint="Breakpoint.Xs" LoadingProgressColor="Color.Info" Dense="true">
                <HeaderContent>
                    <MudTh>Number</MudTh>
                    <MudTh>Default</MudTh>
                    <MudTh></MudTh>
                    @if (ContactNumbers.Count() > 1)
                    {
                        <MudHidden Breakpoint="Breakpoint.Xs">
                            <MudTh></MudTh>
                        </MudHidden>
                    }
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Number">@context.Number</MudTd>
                    <MudTd DataLabel="Default"><MudCheckBox Value="context.Default" Disabled="true"></MudCheckBox></MudTd>
                    <MudTd>
                        <MudHidden Breakpoint="Breakpoint.Xs">
                            <MudIconButton OnClick="@(() => CallUpdateContactNrModalAsync(@context.ContactNrId))" Icon="@Icons.Material.Filled.Edit" />
                        </MudHidden>
                        <MudHidden Breakpoint="Breakpoint.SmAndUp">
                            @if (!context.Default)
                            {
                                <MudGrid>
                                    <MudItem xs="6">
                                        <MudButton OnClick="@(() => CallUpdateContactNrModalAsync(@context.ContactNrId))" FullWidth Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Edit"></MudIcon></MudButton>
                                    </MudItem>
                                    <MudItem xs="6">
                                        <MudButton OnClick="@(() => CallDeleteConfirmationModalAsync(@context.ContactNrId))"><MudIcon Icon="@Icons.Material.Filled.Delete"></MudIcon></MudButton>
                                    </MudItem>
                                </MudGrid>
                            }
                            else
                            {
                                <MudButton OnClick="@(() => CallUpdateContactNrModalAsync(@context.ContactNrId))" FullWidth Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Edit"></MudIcon></MudButton>
                            }
                        </MudHidden>
                    </MudTd>
                    
                    @if(!context.Default)
                    {
                        <MudHidden Breakpoint="Breakpoint.Xs">
                            <MudTd>
                                <MudIconButton OnClick="@(() => CallDeleteConfirmationModalAsync(@context.ContactNrId))" Icon="@Icons.Material.Filled.Delete"/>
                            </MudTd>
                        </MudHidden>
                    }
                </RowTemplate>
            </MudTable>
        </div>
    </MudCardContent>
        
    <MudCardActions>
        <MudButton OnClick="CallCreateContactNrModalAsync" FullWidth Color="Color.Primary">New Contact Number</MudButton>
    </MudCardActions>
</MudCard>