@using FilingModule.Blazor.Extensions
@using FilingModule.Domain.Enums
@using MudBlazor

<MudTable Elevation="25" ServerData="ServerReload" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table" Loading="!_loaded">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudSpacer />
            @if (_canCreate)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/listing_tiers/create" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Create</MudButton>
            }
            <MudButton Variant="Variant.Filled" OnClick="@(async () => await Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Image</MudTh>
        <MudTh>Name</MudTh>
        <MudTh>Price</MudTh>
        <MudTh>
            <div style="float:right">
                <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomLeft">
                    <MudMenuItem @onclick="() => _dense = !_dense">
                        <MudSwitch @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">
                            Dense
                        </MudSwitch>
                    </MudMenuItem>
                    <MudMenuItem @onclick="() => _striped = !_striped">
                        <MudSwitch @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">
                            Striped
                        </MudSwitch>
                    </MudMenuItem>
                    <MudMenuItem @onclick="() => _bordered = !_bordered">
                        <MudSwitch @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">
                            Bordered
                        </MudSwitch>
                    </MudMenuItem>
                </MudMenu>
            </div>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd><MudImage Src="@context.Images.ToUrl(UploadType.Cover, Configuration, "_content/ProductsModule.Blazor/images/NoImage.jpg")" Style="width:50px; height:50px;"></MudImage></MudTd>
        <MudTd DataLabel="Name">@context.Name</MudTd>
        <MudTd DataLabel="Price">@context.Price.ToString("C")</MudTd>
        <MudTd DataLabel="Actions" Style="text-align: right">
            @if (_canEdit || _canDelete)
            {
                <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                    @if (_canEdit)
                    {
                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" Href="@($"/listing_tiers/update/{context.Id}")">Edit</MudMenuItem>
                    }
                    @if (_canDelete)
                    {
                        <MudMenuItem Icon="@Icons.Material.Filled.Delete" @onclick="@(() => Delete(context.Id))">Delete</MudMenuItem>
                    }
                </MudMenu>
            }
            
        </MudTd>
    </RowTemplate>
</MudTable>

            
