@page "/agegroups"
@using ConectOne.Blazor.Components
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using NeuralTech.Base.Enums
@using SchoolsModule.Application.ViewModels

@attribute [Authorize]

@using static Microsoft.AspNetCore.Components.Web.RenderMode

@rendermode InteractiveServer

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<MudGrid>
    <MudItem md="6">
        <DefaultTitle Title="Age Groups" Caption="All available age groups" />
    </MudItem>
    <MudItem md="6" Style="float:right">
        <MudBreadcrumbs Items="_items" Style="float:right"></MudBreadcrumbs>
    </MudItem>
    <MudItem md="12">
        @if (!_loaded)
        {
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
        }
        else
        {
             <MudTable Elevation="25" ServerData="ServerReload" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
                <ToolBarContent>
                    <div class="justify-center mud-text-align-center">
                        @if (_canCreate)
                        {
                            <MudSpacer/>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/agegroups/create" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Create</MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="@(() => Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
                        }
                        else
                        {
                            <MudSpacer />
                            <MudButton Variant="Variant.Filled" OnClick="@(() => Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
                        }
                    </div>
                </ToolBarContent>
                <HeaderContent>
                    <MudTh><MudTableSortLabel T="AgeGroupViewModel" SortLabel="Name">Age Group</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel T="AgeGroupViewModel" SortLabel="StartDate">Min Age</MudTableSortLabel></MudTh>
                    <MudTh><MudTableSortLabel T="AgeGroupViewModel" SortLabel="StartTime">Max Age</MudTableSortLabel></MudTh>
                    <MudTh>
                        <div style="float:right">
                            <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomLeft">
                                <MudMenuItem @onclick="() => _dense = !_dense">
                                    <MudSwitch @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">
                                        Dense
                                    </MudSwitch>
                                </MudMenuItem>
                                <MudMenuItem @onclick="() => _striped = !_striped">
                                    <MudSwitch @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">
                                        Striped
                                    </MudSwitch>
                                </MudMenuItem>
                                <MudMenuItem @onclick="() => _bordered = !_bordered">
                                    <MudSwitch @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">
                                        Bordered
                                    </MudSwitch>
                                </MudMenuItem>
                            </MudMenu>
                        </div>
                    </MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd DataLabel="Age Group">
                        @context.Name
                    </MudTd>
                    <MudTd DataLabel="Min Age">
                        @context.MinAge
                    </MudTd>
                    <MudTd DataLabel="Max Age">
                        @context.MaxAge
                    </MudTd>
                    <MudTd DataLabel="Actions" Style="text-align: right">
                        @if (_canEdit || _canDelete || _canCreateChat || _canSendMessage)
                        {
                            <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                                @if (_canEdit)
                                {
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" Href="@($"/agegroups/update/{context.AgeGroupId}")">Edit</MudMenuItem>
                                }
                                @if (_canDelete)
                                {
                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" @onclick="@(() => DeleteAgeGroup(@context.AgeGroupId!))">Delete</MudMenuItem>
                                }
                                @if (_canCreateChat)
                                {
                                    <MudMenuItem Icon="@Icons.Material.Filled.Message" Href="#">Create Chat</MudMenuItem>
                                }
                                @if (_canSendMessage)
                                {
                                    <MudMenuItem Icon="@Icons.Material.Filled.Notifications" Href="@($"/{Enum.GetName(typeof(MessageType), MessageType.AgeGroup)}/messages/create/{context.AgeGroupId}")">Message</MudMenuItem>
                                }
                            </MudMenu>
                        }
                    </MudTd>
                </RowTemplate>
                <PagerContent>
                    <MudTablePager PageSizeOptions="new[] { 10, 25, 50, 100 }" />
                </PagerContent>
            </MudTable>
        }
    </MudItem>
</MudGrid>
