@using AccomodationModule.Domain.DataTransferObjects
@using MudBlazor

<MudGrid Style="padding-left:20px;">
    <MudItem xs="12">
        <MudSelect ToStringFunc="@_vacationTitleTemplateConverter" T="VacationTitleTemplateDto" Label="Title" Value="Vacation.VacationTitle" ValueChanged="VacationTitleChanged" AnchorOrigin="Origin.BottomLeft" Variant="Variant.Outlined">
            @foreach (var state in _availableVacationTitleTemplates)
            {
                <MudSelectItem T="VacationTitleTemplateDto" Value="@state">@state.VacationTitle</MudSelectItem>
            }
        </MudSelect>
    </MudItem>
    <MudItem xs="12">
        <MudTextField Label="Slug" @bind-Value="@Vacation.Slug" Variant="Variant.Outlined" />
    </MudItem>
    <MudItem xs="3">
        <MudStack Row="true">
            <MudDatePicker Label="From" @bind-Date="@Vacation.StartDate" ShowToolbar="false" Variant="Variant.Outlined"/>
            <MudIconButton Style="width:40px; height:55px; margin-top:8px;" Icon="@Icons.Material.Filled.Delete" OnClick="SetStartDateToNull" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small" />
        </MudStack>
    </MudItem>
    <MudItem xs="2">
        <MudTextField ReadOnly="Vacation.ItineraryEntryItemTemplates.Any()" Label="Nights" @bind-Value="@Vacation.Nights" Variant="Variant.Outlined" />
    </MudItem>
    <MudItem xs="3">
        <MudDatePicker ReadOnly="true" Label="To" Date="@Vacation.EndDate" ShowToolbar="false" Variant="Variant.Outlined" />       
    </MudItem>
    <MudItem xs="1">
    </MudItem>
    <MudItem xs="3">
        <MudStack Row="true">
            <MudDatePicker Label="Cut-Off" Date="@Vacation.AvailabilityCutOffDate" ShowToolbar="false" Variant="Variant.Outlined"/>
            <MudIconButton Style="width:40px; height:55px; margin-top:8px;" Icon="@Icons.Material.Filled.Delete" OnClick="SetAvailabilityCutOffDateToNull" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Small"/>
        </MudStack>
    </MudItem>
    
    
    @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
    {
        <MudItem xs="12">
            <MudSelect ToStringFunc="@_vacationHostConverter" T="VacationHostDto" Label="Vacation Host" @bind-Value="Vacation.Host" AnchorOrigin="Origin.BottomLeft" Variant="Variant.Outlined">
                @foreach (var state in _availableVacationHosts)
                {
                    <MudSelectItem T="VacationHostDto" Value="@state">@state.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem> 
    }
    
    <MudItem xs="12">
        <MudCard>
            <MudCardHeader>
                <MudSelect ToStringFunc="@_shortDescriptionTemplateConverter" T="ShortDescriptionTemplateDto" Label="Short Description" Value="Vacation.ShortDescription" ValueChanged="OnShortDescriptionsTemplateSelectionChanged" AnchorOrigin="Origin.BottomLeft" Variant="Variant.Outlined">
                    @foreach (var state in _availableShortDescriptionTemplates)
                    {
                        <MudSelectItem T="ShortDescriptionTemplateDto" Value="@state">@state.Title</MudSelectItem>
                    }
                </MudSelect>
            </MudCardHeader>
            <MudCardContent>
                <MudPaper Style="padding:10px 20px 20px 20px; margin-top:-20px;">
                    @if (Vacation?.ShortDescription == null)
                    {
                        <span>No Short Description Available</span>
                    }
                    else
                    {
                        @_shortDescriptionText
                    }
                </MudPaper>
            </MudCardContent>
        </MudCard>
    </MudItem>
    
    @if (Update.HasDelegate)
    {
        <MudItem xs="6" sm="6" md="6" lg="6">
            <MudButton OnClick="OnUpdate" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth>Next</MudButton>
        </MudItem>
    }
    @if (NextTab.HasDelegate)
    {
        <MudItem xs="6" sm="6" md="6" lg="6">
            <MudButton OnClick="OnNextTab" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth>Next</MudButton>
        </MudItem>
    }
    @if (Cancel.HasDelegate)
    {
        <MudItem xs="6" sm="6" md="6" lg="6">
            <MudButton OnClick="OnCancel" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" FullWidth>Cancel</MudButton>
        </MudItem>
    }
    
    
</MudGrid>