<ul style="list-style-type:none;" id="map_nav">
    <li style="display:inline;"><a href="/destinations/south-africa#south-africa" style="@_southAfricaStyle">South Africa</a> | </li>
    <li style="display:inline;"><a href="/destinations/botswana#botswana" style="@_botswanaStyle">Botswana</a> | </li>
    <li style="display:inline;"><a href="/destinations/zambia#zambia" style="@_zambiaStyle">Zambia</a> | </li>
    <li style="display:inline;"><a href="/destinations/namibia#namibia" style="@_namibiaStyle">Namibia</a> | </li>
    <li style="display:inline;"><a href="/destinations/tanzania#tanzania" style="@_tanzaniaStyle">Tanzania</a> | </li>
    <li style="display:inline;"><a href="/destinations/kenya#kenya" style="@_kenyaStyle">Kenya</a> | </li>
    <li style="display:inline;"><a href="/destinations/rwanda#rwanda" style="@_rwandaStyle">Rwanda</a></li>
</ul>