@page "/reset-password"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor

@attribute [AllowAnonymous]

<div class="d-flex justify-center pa-5">
    <EditForm Model="@_resetPasswordViewModel" OnValidSubmit="ResetNowAsync" OnInvalidSubmit="ValidationFailed" class="card card-body bg-light mt-5">
        <DataAnnotationsValidator />

        <MudText Color="Color.Default" Typo="Typo.h6" Style="font-weight: 600; text-align:center; padding-top:20px;">Reset Password</MudText>
        <MudText Class="mb-5" Typo="Typo.body2" Style="text-align:center">Please enter your new password in the field to reset the password!</MudText>

        <MudTextField InputType="@_passwordInput" @bind-Value="_resetPasswordViewModel.Password" For="@(() => _resetPasswordViewModel.Password)" Class="mt-3" Label="Password" Variant="Variant.Filled" Margin="Margin.Dense" T="string" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
        <MudTextField InputType="@_passwordConformationInput" @bind-Value="_resetPasswordViewModel.ConfirmedPassword" For="@(() => _resetPasswordViewModel.ConfirmedPassword)" Class="mt-3" Label="Confirm Password" Variant="Variant.Filled" Margin="Margin.Dense" T="string" AdornmentColor="Color.Primary" Adornment="Adornment.Start" AdornmentIcon="@_passwordConformationInputIcon" OnAdornmentClick="TogglePasswordConformationVisibility" />

        <MudButton ButtonType="ButtonType.Submit" Class="my-4 py-2 rounded-lg" Color="Color.Tertiary" FullWidth="true" Variant="Variant.Filled">Reset Password</MudButton>

        <MudDivider Class="my-3"></MudDivider>

        <div class="d-flex justify-space-between">
            <MudLink Href="/sign-up" Typo="Typo.body2">Create Account</MudLink>
            <MudLink Href="/sign-in" Typo="Typo.body2">Use Existing Account</MudLink>
        </div>
    </EditForm>
</div>