@page "/packages/create/{VacationHostId}"
@page "/packages/create"

@using ConectOne.Blazor.Components
@using KiburiOnline.Blazor.Shared.Layouts
@using KiburiOnline.Blazor.Shared.Pages.Vacations.Partials
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms

@layout WebsiteLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<style>
    #bullet_mob {
        font-size: 16px !important;
    }

    .editorPlaceholderDropdown .mud-button-label {
        font-size: 13.2px;
        text-transform: capitalize !important;
    }

    .editorPlaceholderDropdown .mud-svg-icon {
        margin-left: -10px;
    }

    .editorPlaceholderDropdownButton .mud-menu-item-text {
        font-size: 13.2px;
        margin: 0;
    }

</style>

<div id="hotel-main-content" class="card card-body bg-light mt-5">

    <div style="padding-left: 1rem">
        <DefaultTitle Title="Create Package" Caption="Please complete the following information to create a new package" />
    </div>

    <EditForm Model="_vacation" OnValidSubmit="@(() => CreateAsync(null))" class="card card-body bg-light mt-5" Context="dsdf">
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12">

                <DataAnnotationsValidator/>
                <ValidationSummary/>

                <MudTabs Elevation="0" Color="Color.Transparent" Rounded="true" Position="Position.Start" @bind-ActivePanelIndex="_selectedTab">

                    @* Details *@
                    <MudTabPanel Text="Details" Style="padding-left:20px; width:100%;">
                        <VacationDetailsPartial 
                            Vacation="_vacation" 
                            NextTab="@(() => CreateAsync(1))" 
                            Cancel="CancelCreation" />
                    </MudTabPanel>

                    @* Images *@
                    <MudTabPanel Text="Images" Style="padding-left:20px; width:100%;">
                        <VacationImagesPartial 
                            Vacation="_vacation" 
                            NextTab="@(() => CreateAsync(2))" 
                            PreviousTab="() => _selectedTab = 0" 
                            Cancel="CancelCreation" />
                    </MudTabPanel>

                    @* Pricing *@
                    <MudTabPanel Text="Pricing" Style="padding-left:20px; width:100%;">
                        <VacationPricingPartial 
                            Vacation="_vacation" 
                            NextTab="@(() => CreateAsync(3))" 
                            PreviousTab="() => _selectedTab = 1" 
                            Cancel="CancelCreation" />
                    </MudTabPanel>

                    @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
                    {
                        @* Meet & Greet *@
                        <MudTabPanel Text="Meet & Greet" Style="padding-left:20px; width:100%;">
                            <VacationMeetAndGreetPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(4))" 
                                PreviousTab="() => _selectedTab = 2" 
                                Cancel="CancelCreation" />
                        </MudTabPanel>
                    }

                    @* Intervals *@
                    <MudTabPanel Text="Accommodation" Style="padding-left:20px; width:100%;">
                        <VacationIntervalPartial 
                            Vacation="_vacation" 
                            NextTab="@(() => CreateAsync(Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 5 : 4))" 
                            PreviousTab="@(() => _selectedTab = Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 3 : 2)" 
                            Cancel="CancelCreation" />
                    </MudTabPanel>
                    
                    @if (Configuration["ApplicationConfiguration:AppliactionName"] == "Pro Golf" || Configuration["ApplicationConfiguration:AppliactionName"] == "Gecko")
                    {
                        @* Itinerary *@
                        <MudTabPanel Text="Itinerary" Style="padding-left:20px; width:100%">
                            <MudGrid>
                                @foreach (var item in _vacation.ItineraryEntryItemTemplates)
                                {
                                    <MudItem xs="9">
                                        <MudCard Elevation="2">
                                            <MudCardHeader>
                                                <MudText Typo="Typo.h6">Day - @item.DayNr</MudText>
                                            </MudCardHeader>
                                            <MudCardContent>
                                                @((MarkupString)item.Content)
                                            </MudCardContent>
                                        </MudCard>

                                    </MudItem>
                                    <MudItem xs="3">
                                        <MudStack>
                                            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => UpdateItineraryEntryItemTemplate(item))">Update Day</MudButton>
                                            <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => RemoveItineraryEntryItemTemplate(item))">Remove Day</MudButton>
                                        </MudStack>
                                    </MudItem>
                                }
                                <MudItem xs="12">
                                    <MudButton FullWidth="true" Variant="Variant.Filled" Color="Color.Error" OnClick="CreateItineraryEntryItemTemplate">Create Day</MudButton>
                                </MudItem>
                                
                                <MudItem xs="4" sm="4" md="4" lg="4">
                                    <MudButton OnClick="@(() => CreateAsync(5))" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth>Next</MudButton>
                                </MudItem>
                                <MudItem xs="4" sm="4" md="4" lg="4">
                                    <MudButton OnClick="() => _selectedTab = 3" Variant="Variant.Filled" Color="Color.Info" Class="ml-auto" FullWidth>Back</MudButton>
                                </MudItem>
                                <MudItem xs="4" sm="4" md="4" lg="4">
                                    <MudButton OnClick="CancelCreation" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" FullWidth>Cancel</MudButton>
                                </MudItem>
                            </MudGrid>
                                
                        </MudTabPanel>
                    }
                    
                    @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
                    {

                        @* Flights *@
                        <MudTabPanel Text="Flights" Style="padding-left:20px; width:100%;">
                            <VacationFlightsPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(5))" 
                                PreviousTab="() => _selectedTab = 3" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>

                        @* Golfer Packages *@
                        <MudTabPanel Text="Golfer Inclusions" Style="padding-left:20px;">
                            <VacationGolferPackagesPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(6))" 
                                PreviousTab="() => _selectedTab = 4" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>

                        @* Meals *@
                        <MudTabPanel Text="Meals" Style="padding-left:20px; width:100%;">
                            <VacationMealsPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(7))" 
                                PreviousTab="() => _selectedTab = 5" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>

                        @* Gift Types *@
                        <MudTabPanel Text="Gifts/Room Drops" Style="padding-left:20px; width:100%;">
                            <VacationGiftPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(8))" 
                                PreviousTab="() => _selectedTab = 6" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>

                        @* Day Tour *@
                        <MudTabPanel Text="Day Tour/Activity" Style="padding-left:20px; width:100%;">
                            <VacationDayTourActivityPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(9))" 
                                PreviousTab="() => _selectedTab = 7" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>
                    }

                    @* General Information *@
                    <MudTabPanel Text="General Information" Style="padding-left:20px; width:100%;">
                        <VacationGeneralInformationPartial 
                            Vacation="_vacation" NextTab="@(() => CreateAsync(Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 10 : 6))"
                                                           PreviousTab="@(() => _selectedTab = Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 8 : 4)"
                                                           Cancel="CancelCreation" />
                    </MudTabPanel>

                    @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
                    {
                        @* Extensions *@
                        <MudTabPanel Text="Extensions" Style="padding-left:20px; width:100%;">
                            <VacationExtensionPartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync(11))" 
                                PreviousTab="() => _selectedTab = 9" 
                                Cancel="CancelCreation" />
                        </MudTabPanel>
                    }

                    @* General Settings *@
                    <MudTabPanel Text="General Settings" Style="padding-left:20px; width:100%;">
                        <VacationGeneralSettingsPartial 
                            Vacation="_vacation" 
                            NextTab="@(() => CreateAsync(Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 12 : 7))"
                                                        PreviousTab="@(() => _selectedTab = Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 10 : 5)"
                                                        Cancel="CancelCreation" />
                    </MudTabPanel>

                    @* Inclusion Settings *@
                    <MudTabPanel Text="Inclusion Settings" Style="padding-left:20px; width:100%;">
                        <VacationInclusionSettingsPartial 
                            Vacation="_vacation" NextTab="@(() => CreateAsync(Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 13 : null))"
                                                          PreviousTab="@(() => _selectedTab = Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" ? 11 : 6)"
                                                          Cancel="CancelCreation" />
                    </MudTabPanel>
                    
                    @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
                    {
                        @* References *@
                        <MudTabPanel Text="References" Style="padding-left:20px; width:100%;">
                            <VacationReferencePartial 
                                Vacation="_vacation" 
                                NextTab="@(() => CreateAsync())" 
                                PreviousTab="() => _selectedTab = 12" 
                                Cancel="CancelCreation"/>
                        </MudTabPanel>
                    }

                </MudTabs>
            </MudItem>
        </MudGrid>
    </EditForm>
</div>