@page "/gallery"
@using ConectOne.Blazor.Components
@using ConectOne.Blazor.OverLays
@using FilingModule.Domain.Enums
@using KiburiOnline.Blazor.Shared.Layouts
@using KiburiOnline.Blazor.Shared.Pages.Vacations.Partials
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer


@layout WebsiteLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<style>
    #bullet_mob{
        font-size: 16px !important;
    }
</style>

<div id="hotel-main-content" class="card card-body bg-light mt-5">

    <BusyWorkingOverlay Visible="@_visible" BusyText="Saving Vacation" CaptionText="Please be patient while we save your changes" DarkBackground="true" />

    <div style="padding-left: 1rem">
        <DefaultTitle Title="Update Gallery Images" Caption="All images uploaded for any of the availble vacations"/>
    </div>

    <MudTabs>

        <MudTabPanel Text="Slider Images">
            <MudGrid>

                <VacationGalleryGrid LoadImages="LoadAllVacationImages" ImageType="UploadType.Slider" SetAs="SetAs" xs="12" md="3" lg="3" xl="3" RemoveImage="DeleteImage"/>

                <MudItem md="12">
                    <MudStack Style="width: 100%">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" @ref="@_sliderBrowserFilesUpload" OnFilesChanged="OnSliderInputFileChanged" Hidden="@false"
                                       InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10" InputStyle="opacity:0" tabindex="-1" AppendMultipleFiles="true"
                                       @ondrop="@ClearSliderDragClass" @ondragenter="@SetSliderDragClass" @ondragleave="@ClearSliderDragClass" @ondragend="@ClearSliderDragClass">
                            <ActivatorContent>
                                <MudPaper Height="150px" Outlined="true" Class="@_sliderDragClass">
                                    <MudText Typo="Typo.h6">
                                        Drag and drop files here or click (recommended size : 1920px x 921px)
                                    </MudText>
                                    @foreach (var file in _sliderImagesToUploadForDisplay)
                                    {
                                        <MudChip T="string" Color="Color.Dark" Text="@file" tabindex="-1"/>
                                    }
                                </MudPaper>
                            </ActivatorContent>
                        </MudFileUpload>
                        @if (_sliderImagesBusyUploading.Any())
                        {
                            foreach (var item in _sliderImagesBusyUploading)
                            {
                                <MudProgressLinear Color="Color.Primary" Value="@item.Progress" Class="my-7"/>
                            }
                        }
                        <MudToolBar Gutters="@false" Class="relative d-flex justify-end gap-4">
                            <MudButton Color="Color.Primary" OnClick="@ChangeSliderCropperImageAsync" Variant="Variant.Filled">Open Cropper</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@OpenSliderPickerAsync" Variant="Variant.Filled">Open File Picker</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@UploadSliderImages" Variant="Variant.Filled">Upload</MudButton>
                            <MudButton Color="Color.Error" OnClick="@ResetSliderPicker" Variant="Variant.Filled">Clear</MudButton>
                        </MudToolBar>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        
        @if (Configuration["ApplicationConfiguration:AppliactionName"] != "Pro Golf" && Configuration["ApplicationConfiguration:AppliactionName"] != "Gecko")
        {
            <MudTabPanel Text="Banner Images">
                <MudGrid>

                    <VacationGalleryGrid LoadImages="LoadAllVacationImages" ImageType="UploadType.Banner" SetAs="SetAs" xs="12" md="3" lg="3" xl="3" @ref="_bannerImageGallery" RemoveImage="DeleteImage"/>

                    <MudItem md="12">
                        <MudStack Style="width: 100%">
                            <MudFileUpload T="IReadOnlyList<IBrowserFile>" @ref="@_bannerBrowserFilesUpload" OnFilesChanged="OnBannerInputFileChanged" Hidden="@false"
                                           InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10" InputStyle="opacity:0" tabindex="-1" AppendMultipleFiles="true"
                                           @ondrop="@ClearBannerDragClass" @ondragenter="@SetBannerDragClass" @ondragleave="@ClearBannerDragClass" @ondragend="@ClearBannerDragClass">
                                <ActivatorContent>
                                    <MudPaper Height="150px" Outlined="true" Class="@_bannerDragClass">
                                        <MudText Typo="Typo.h6">
                                            Drag and drop files here or click (recommended size : 1024px x 253px)
                                        </MudText>
                                        @foreach (var file in _bannerImagesToUploadForDisplay)
                                        {
                                            <MudChip T="string" Color="Color.Dark" Text="@file" tabindex="-1"/>
                                        }
                                    </MudPaper>
                                </ActivatorContent>
                            </MudFileUpload>
                            @if (_bannerImagesBusyUploading.Any())
                            {
                                foreach (var item in _bannerImagesBusyUploading)
                                {
                                    <MudProgressLinear Color="Color.Primary" Value="@item.Progress" Class="my-7"/>
                                }
                            }
                            <MudToolBar Gutters="@false" Class="relative d-flex justify-end gap-4">
                                <MudButton Color="Color.Primary" OnClick="@ChangeBannerCropperImageAsync" Variant="Variant.Filled">Open Cropper</MudButton>
                                <MudButton Color="Color.Primary" OnClick="@OpenBannerPickerAsync" Variant="Variant.Filled">Open File Picker</MudButton>
                                <MudButton Color="Color.Primary" OnClick="@UploadBannerImages" Variant="Variant.Filled">Upload</MudButton>
                                <MudButton Color="Color.Error" OnClick="@ResetBannerPicker" Variant="Variant.Filled">Clear</MudButton>
                            </MudToolBar>
                        </MudStack>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
        }

        <MudTabPanel Text="Map Images">
            <MudGrid>
                
                <VacationGalleryGrid LoadImages="LoadAllVacationImages" ImageType="UploadType.Map" SetAs="SetAs" xs="12" md="3" lg="3" xl="3" @ref="_mapImageGallery" RemoveImage="DeleteImage" />

                <MudItem md="12">
                    <MudStack Style="width: 100%">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" @ref="@_mapBrowserFilesUpload" OnFilesChanged="OnMapInputFileChanged" Hidden="@false"
                                       InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10" InputStyle="opacity:0" tabindex="-1" AppendMultipleFiles="true"
                                       @ondrop="@ClearMapDragClass" @ondragenter="@SetMapDragClass" @ondragleave="@ClearMapDragClass" @ondragend="@ClearMapDragClass">
                            <ActivatorContent>
                                <MudPaper Height="150px" Outlined="true" Class="@_mapDragClass">
                                    <MudText Typo="Typo.h6">
                                        Drag and drop files here or click (recommended size : 624px x 500px)
                                    </MudText>
                                    @foreach (var file in _mapImagesToUploadForDisplay)
                                    {
                                        <MudChip T="string" Color="Color.Dark" Text="@file" tabindex="-1"/>
                                    }
                                </MudPaper>
                            </ActivatorContent>
                        </MudFileUpload>
                        @if (_mapImagesBusyUploading.Any())
                        {
                            foreach (var item in _mapImagesBusyUploading)
                            {
                                <MudProgressLinear Color="Color.Primary" Value="@item.Progress" Class="my-7"/>
                            }
                        }
                        <MudToolBar Gutters="@false" Class="relative d-flex justify-end gap-4">
                            <MudButton Color="Color.Primary" OnClick="@ChangeMapCropperImageAsync" Variant="Variant.Filled">Open Cropper</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@OpenMapPickerAsync" Variant="Variant.Filled">Open File Picker</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@UploadMapImages" Variant="Variant.Filled">Upload</MudButton>
                            <MudButton Color="Color.Error" OnClick="@ResetMapPicker" Variant="Variant.Filled">Clear</MudButton>
                        </MudToolBar>
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        
        <MudTabPanel Text="Videos" Style="padding-left:20px;">
            <MudGrid>
                <MudItem xs="12">
                    <MudStack Style="width: 100%">
                        <MudFileUpload T="IReadOnlyList<IBrowserFile>" @ref="@_fileUpload" OnFilesChanged="OnInputFileChanged" Hidden="@false"
                                       InputClass="absolute mud-width-full mud-height-full overflow-hidden z-10" InputStyle="opacity:0" tabindex="-1"
                                       @ondrop="@ClearDragClass" @ondragenter="@SetDragClass" @ondragleave="@ClearDragClass" @ondragend="@ClearDragClass">
                            <ActivatorContent>
                                <MudPaper Height="300px" Outlined="true" Class="@_dragClass">
                                    <MudText Typo="Typo.h6">
                                        Drag and drop files here or click
                                    </MudText>
                                    @foreach (var file in _videosToUpload)
                                    {
                                        <MudChip T="string" Color="Color.Dark" Text="@file.Name" tabindex="-1" />
                                    }
                                </MudPaper>
                            </ActivatorContent>
                        </MudFileUpload>
                        @if (_filesBusyUploading.Any())
                        {
                            foreach (var item in _filesBusyUploading)
                            {
                                <MudProgressLinear Color="Color.Primary" Value="@item.Progress" Class="my-7" />
                            }
                        }
                        <MudToolBar Gutters="@false" Class="relative d-flex justify-end gap-4">
                            <MudButton Color="Color.Primary" OnClick="@OpenFilePickerAsync" Variant="Variant.Filled">Open file picker</MudButton>
                            <MudButton Color="Color.Primary" OnClick="@Upload" Variant="Variant.Filled">Upload</MudButton>
                            <MudButton Color="Color.Error" OnClick="@ClearAsync" Variant="Variant.Filled">Clear</MudButton>
                        </MudToolBar>
                    </MudStack>
                </MudItem>
               @*  @foreach (var item in _videos)
                {
                    <MudItem xs="12" sm="4" md="3">
                        <VideoPlayer SourceUrl="@( $"{Configuration["ApiConfiguration:BaseApiAddress"]}\\{item.Url.Replace("\\", "/")}")" StartAtSeconds="15" />
                    </MudItem>
                } *@
            </MudGrid>
        </MudTabPanel>

    </MudTabs>

</div>