@using BlazorBootstrap;
@using FilingModule.Domain.Enums

<span id="golfcourses" style="margin-top:-30px;"></span>

<section class="section novi-bg novi-bg-img bg-default section-xl text-center">
    <div class="container">
        <h4 style="text-align:center !important; padding-bottom:30px !important; color:#666; margin-bottom:-40px;">GOLF COURSES</h4>

        <div class="row row-fix">
            <div class="col-sm-12 text-center group-event">
                @foreach (var item in _golfCourses)
                {
                    <hr style="margin-top:40px;">
                    <div class="row row-fix post-event">


                        <div class="col-md-6 text-md-start post-event-body">

                            <h4 style="color:#666; font-size:16px !important;">@item.Name.ToUpper()</h4>

                            <p style="font-size:13px !important;">
                                @((MarkupString)item.Description)
                            </p>


                        </div>


                        <div class="col-md-6" style="padding-bottom:20px;">

                            <Carousel ShowPreviousNextControls="false">
                                <CarouselItem Active="true">
                                    <Image Src="@($"{Configuration["ApiConfiguration:BaseApiAddress"]}\\{item?.Images.FirstOrDefault(c => c.ImageType == UploadType.Cover).RelativePath}")" />
                                </CarouselItem>
                                @foreach (var image in item?.Images.Where(c => c.ImageType == UploadType.Image)?.Take(5))
                                {
                                    <CarouselItem>
                                        <Image Src="@($"{Configuration["ApiConfiguration:BaseApiAddress"]}\\{image.RelativePath}")" />
                                    </CarouselItem>
                                }
                            </Carousel>

                        </div>

                    </div>
                }

                @if (!BannerImageUrl.Contains("_content"))
                {
                    <div class="col-md-12" style="padding-top:50px;"><img src="@BannerImageUrl" alt="" width="1505" height="372"></div>
                }


            </div>
        </div>
    </div>
</section>