
<div id="map-africa">
    <ul class="africa">
        <li class="afr51"><a href="@(!NavigationManager.Uri.Contains("/destinations/south-africa") ? "destinations/south-africa" : "#south_africa")">South Africa</a></li>
        <li class="afr4"><a href="@(!NavigationManager.Uri.Contains("/destinations/botswana") ? "/destinations/botswana" : "#botswana")">Botswana</a></li>
        <li class="afr59"><a href="@(!NavigationManager.Uri.Contains("/destinations/zambia") ? "/destinations/zambia" : "#zambia")">Zambia</a></li>
        <li class="afr39"><a href="@(!NavigationManager.Uri.Contains("/destinations/namibia") ? "/destinations/namibia" : "#namibia")">Namibia</a></li>
        <li class="afr58"><a href="@(!NavigationManager.Uri.Contains("/destinations/tanzania") ? "/destinations/tanzania" : "#tanzania")">Tanzania</a></li>
        <li class="afr43"><a href="@(!NavigationManager.Uri.Contains("/destinations/rwanda") ? "/destinations/rwanda" : "#rwanda")">Rwanda</a></li>
        <li class="afr26"><a href="@(!NavigationManager.Uri.Contains("/destinations/kenya") ? "/destinations/kenya" : "#kenya")">Kenya</a></li>
    </ul>
</div>