@page "/privacy-policy"
@using KiburiOnline.Blazor.Shared.Layouts
@using Microsoft.Extensions.Configuration

@inject IConfiguration Configuration
@layout WebsiteLayout

<HeadContent>
    <!-- Robots -->
    <meta name="robots" content="noindex, nofollow" />
</HeadContent>

<section class="section novi-bg novi-bg-img section-xl bg-default text-center" style="padding-top:40px; padding-bottom:40px;" id="team">
    <div class="container">
        <div class="row row-30 justify-content-lg-center">
            <h4>PRIVACY POLICY</h4>
            <div class="col-lg-12" style="text-align:left !important;">
                <strong>DATE OF LAST REVISION: JULY 05, 2021</strong><br>
                @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD

                <p>
                    <strong>PRIVACY NOTICE AND INFORMED CONSENT NOTICE</strong>
                </p>
                <p>
                    <strong> </strong>
                </p>
                <p>
                    <strong>
                        CONSENT TO PROCESS PERSONAL INFORMATION IN TERMS OF THE PROTECTION OF
                        INFORMATION ACT, 4 OF 2013 (POPIA) &amp; THE EUROPEAN COMMUNITY GENERAL
                        DATA PROTECTION REGULATIONS (GDPR)
                    </strong>
                </p>
                <p>
                    <strong> </strong>
                </p>
                <p>
                    <strong>(EMAIL, WEBSITE AND SOCIAL MEDIA PRIVACY NOTICE)</strong>
                </p>
                <p>
                    <strong> </strong>
                </p>
                <p>
                    The Protection of Personal Information Act, 4 of 2013 (POPIA) gives effect
                    to the constitutional right to data privacy in terms of Section 14 of the
                    Bill of Rights of the Constitution.
                </p>
                <p>
                    The responsible use of the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD
                    website and related resources in respect of data privacy is important to
                    us.
                </p>
                <p>
                    Whilst @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD is committed to protecting
                    all person's rights to privacy and who in consequence will ensure that all
                    person's Personal Information is used appropriately, transparently, and
                    according to applicable law, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD has
                    to ensure that these rights to privacy are balanced with other rights such
                    as the right to use and have access to the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD Information and Services including its online and social media
                    platforms and applications.
                </p>
                <p>
                    <strong>
                        This Policy sets out the responsibilities and obligations of all
                        persons who make use of, or access or receive @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF
                        TOURS (PTY) LTD Information and Communications via its electronic
                        communication facilities and resources including its website, email and
                        social media platforms and how all users of these facilities and
                        resources are to ensure that when using these resources that they
                        respect and process another's Personal Information lawfully and in
                        accordance with the provisions of POPIA &amp; GDPR.
                    </strong>
                </p>
                <p>
                    PLEASE READ THE DOCUMENT BEFORE YOU MAKE USE OF THE @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND
                    GOLF TOURS (PTY) LTD ELECTRONIC FACILITIES OR PROVIDE US WITH ANY PERSONAL
                    INFORMATION. BY PROVIDING @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD WITH
                    YOUR PERSONAL INFORMATION, YOU CONSENT TO @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD PROCESSING YOUR PERSONAL INFORMATION, WHICH WE UNDERTAKE TO
                    PROCESS STRICTLY IN ACCORDANCE WITH THIS PRIVACY POLICY.
                </p>
                <p>
                    <strong><u>Definitions</u></strong>
                </p>
                <p>
                    For the purposes of this Privacy Policy:
                </p>
                <ul>
                    <li style="list-style:circle !important;">
                        <strong>* Company</strong>
                        (referred to as either "the Company", "We", "Us" or "Our" in this
                        Agreement) refers to @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD, PO BOX
                        7296, WELGEMOED, 7538.
                    </li>
                    <li>
                        <strong>* Cookies</strong>
                        are small files that are placed on Your computer, mobile device, or any
                        other device by a website, containing the details of Your browsing
                        history on that website among its many uses.
                    </li>
                    <li>
                        <strong>* Country refers to</strong>
                        : South Africa
                    </li>
                    <li>
                        <strong>* Device</strong>
                        means any device that can access the Service such as a computer, a cell
                        phone or a digital tablet.
                    </li>
                    <li>
                        <strong>* Personal Data</strong>
                        is any information that relates to an identified or identifiable
                        individual.
                    </li>
                    <li>
                        <strong>* Service</strong>
                        refers to the Website.
                    </li>
                    <li>
                        <strong>* Service Provider</strong>
                        means any natural or legal person who processes the data on behalf of
                        the Company. It refers to third-party companies or individuals utilised
                        by the Company to facilitate the Service, to provide the Service on
                        behalf of the Company, to perform services related to the Service or to
                        assist the Company in analysing how the Service is used.
                    </li>
                    <li>
                        <strong>* Third-party Social Media Service</strong>
                        refers to any website or any social network website through which a
                        User can log in or create an account to use the Service.
                    </li>
                    <li>
                        <strong>* Usage Data</strong>
                        refers to data collected automatically, either generated using the
                        Service or from the Service infrastructure itself (for example, the
                        duration of a page visit).
                    </li>
                    <li>
                        <strong>* Website</strong>
                        refers to @Configuration["ApplicationConfiguration:AppliactionName"] Africa Safaris, accessible from
                        @Configuration["ApplicationConfiguration:WebAddress"]
                    </li>
                    <li>
                        <strong>* The Client/You</strong>
                        meaning the individual accessing or using the Service, or the company,
                        or other legal entity on behalf of which such individual is accessing
                        or using the Service, as applicable.
                    </li>
                </ul>
                <p>
                    <strong><u>1. INTRODUCTION</u></strong>
                </p>
                <p>
                    1.1 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD carries out its aims and
                    objectives as an agency, marketer, and sales of holiday accommodation and
                    leisure activities, does, and will, on an ongoing basis receive, provide
                    and process Personal Information.
                </p>
                <p>
                    1.2 In terms of a law known as the Protection of Personal Information Act,
                    4 of 2013 (POPIA) &amp; The European community general data protection
                    regulations (GDPR) everyone has the right to privacy, including the right
                    to the lawful collection, retention, dissemination and use of one's
                    Personal Information.
                </p>
                <p>
                    1.3 In order to give effect to this right, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD is under a duty to provide any person whose Personal Information
                    is processed by it, (known as "The Client") with several details pertaining
                    to the use of and subsequent processing of The Client's Personal
                    Information, before such Personal Information may be used or processed by
                    us.
                </p>
                <p>
                    <strong><em>Categories of Information We Collect</em></strong>
                </p>
                <ul>
                    <li>
                        * Information You Provide Us
                    </li>

                    <li>
                        * Content or Information You Provide in the Services
                    </li>

                    <li>
                        * Content You Provide Through Our Site
                    </li>
                    <li>
                        * Support Channels or Communities
                    </li>
                    <li>
                        * Marketing Information
                    </li>
                    <li>
                        * Payment Processing Information
                    </li>
                    <li>
                        * Technical, Device, and Connection Information
                    </li>
                    <li>
                        * Cookies and Other Tracking Technology
                    </li>
                    <li>
                        * Other Information Sources
                    </li>
                </ul>
                <p>
                    1.4 In accordance with this requirement, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD sets out below
                </p>
                <p>
                    the reasons why it will have to process The Client's Personal Information,
                </p>
                <p>
                    the conditions under which it will receive and use The Client's Personal
                    Information,
                </p>
                <p>
                    how @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD will use and handle this
                    Personal Information, as well as
                </p>
                <p>
                    the conditions under which it will provide its own Personal Information.
                </p>
                <p>
                    <strong><u>2. APPLICATION</u></strong>
                </p>
                <p>
                    2.1 The Privacy Policy of @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD, is
                    applicable to
                </p>
                <p>
                    2.1.1 all @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD electronic platforms
                    and facilities, including social media, websites and / or email, whether
                    owned by, established by, used by, hosted by and / or accessed by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper()
                    SAFARIS AND GOLF TOURS (PTY) LTD, and
                </p>
                <p>
                    2.1.2 all and any Clients, who may access and make use of the
                    aforementioned @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD electronic
                    platforms and facilities, including, without detracting from the generality
                    thereof, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD employees and staff,
                    consumers and customers, vendors, contractors, service providers and / or
                    other third parties.
                </p>
                <p>
                    2.1.3 all the Personal Information which is owned by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND
                    GOLF TOURS (PTY) LTD, and which is provided to any responsible parties and
                    / or operators because of such person accessing or making use of the PRO
                    GOLF SAFARIS AND GOLF TOURS (PTY) LTD social media and electronic
                    platforms.
                </p>
                <p>
                    <strong><u>3. ACCOUNTABILITY</u></strong>
                </p>
                <p>
                    3.1 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD takes the privacy and
                    protection of The Client's Personal Information very seriously and will
                    only process The Client's Personal Information in accordance with POPIA
                    &amp; GDPR and the terms of this Privacy Policy.
                </p>
                <p>
                    3.2 In turn where @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD provides any of
                    its Personal Information to a Responsible Party or Operator, then such
                    person will be required as a condition of receiving such information, to
                    process such Personal Information in accordance with POPIA &amp; GDPR and
                    the terms of this Privacy Policy.
                </p>
                <p>
                    3.3 Accordingly, the relevant data privacy principles relating to the
                    processing of Personal Information, whether that belonging to @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper()
                    SAFARIS AND GOLF TOURS (PTY) LTD or that belonging to The Client
                    (including, but not limited to, the collection, handling, transfer,
                    sharing, correction, storage, archiving and deletion) will apply without
                    exception, save where POPIA &amp; GDPR provides for such an exception, to
                    all and any Personal Information provided by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF
                    TOURS (PTY) LTD to another or received by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD as a result of the use of the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD electronic platforms and facilities.
                </p>
                <p>
                    <strong><u>4. AGREEMENT TO BE BOUND AND CONSENT TO PROCESS</u></strong>
                </p>
                <p>
                    4.1 By accessing or using the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD
                    electronic platforms and facilities including all website and URL's, any
                    sites housed under its domain names and / or social media platforms, and /
                    or when sending or receiving emails using the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF
                    TOURS (PTY) LTD email, The Client:
                </p>
                <p>
                    4.1.1 acknowledges that it has read and understood this Privacy Policy and
                    related provisions;
                </p>
                <p>
                    4.1.2 agrees to be bound by this Privacy Policy;
                </p>
                <p>
                    4.1.3 agrees to comply with this Privacy Policy; and
                </p>
                <p>
                    4.1.4 gives @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD consent to process
                    the required Personal Information for the required purpose, in accordance
                    with this Privacy Policy.
                </p>
                <p>
                    <strong>
                        <u>
                            5. RECEIPT, USE AND SHARING OF PERSONAL INFORMATION BY @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper()
                            SAFARIS AND GOLF TOURS (PTY) LTD
                        </u>
                    </strong>
                </p>
                <p>
                    5.1 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD will receive Personal
                    Information pertaining to a Client when The Client submits a query or
                    request via the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD electronic
                    platforms or facilities, including via its website, or by way of email,
                    telephone or via social media.
                </p>
                <p>
                    5.2 On receipt of the request or query, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD will thereafter use and process the Data Client's Personal
                    Information for the purpose of the query and for a variety of related
                    purposes, which will all depend on the query or request, and which without
                    detracting from the generality thereof may include:
                </p>
                <p>
                    - for the purposes of identifying and / or verifying The Client's details;
                </p>
                <p>
                    - for the purposes of providing information, products and / or services or
                    details in connection therewith or pertaining thereto, that The Client, may
                    have requested;
                </p>
                <p>
                    - for employment application purposes;
                </p>
                <p>
                    - for the purpose of concluding an employment relationship with an
                    applicant;
                </p>
                <p>
                    - for the purposes of managing any information pertaining to The Client;
                </p>
                <p>
                    - for further processing or general administration purposes;
                </p>
                <p>
                    - for legal or contractual purposes;
                </p>
                <p>
                    - to help @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD improve the quality of
                    our products and services;
                </p>
                <p>
                    - to help @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD detect and prevent
                    fraud and money laundering;
                </p>
                <p>
                    - for the purposes of research, analytical and statistical purposes;
                </p>
                <p>
                    - for the purpose of carrying out analysis and consumer / customer
                    profiling;
                </p>
                <p>
                    - for the purposes of identify other products and services which might be
                    of interest to The Client;
                </p>
                <p>
                    - for the purpose of approaching The Client with business opportunities,
                    promotional events, special offers and sales by direct marketing or
                    otherwise;
                </p>
                <p>
                    - for the purposes of informing The Client about @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF
                    TOURS (PTY) LTD products and services.
                </p>
                <p>
                    <strong>   The parties agree that:</strong>
                </p>
                <p>
                    - Consent may be withdrawn, deleted, qualified or amended upon written
                    request from The Client;
                </p>
                <p>
                    - The Client may pre-emptively block any communication;
                </p>
                <p>
                    - The Client may request any direct marketing to be stopped;
                </p>
                <p>
                    - Any communication must only relate to goods or services similar to what
                    The Client bought or has enquired about from the Company.
                </p>
                <p>
                    5.3 In order to correctly handle any request or query, and to perform the
                    purposes described above, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD may
                    from time to time share The Client's Personal Information with the
                    following parties:
                </p>
                <p>
                    - @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD employees, which will only be
                    done on a need-to-know basis;
                </p>
                <p>
                    - @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD suppliers, which will only be
                    done on a need-to-know basis;
                </p>
                <p>
                    - @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD operators such as service
                    providers and agents who perform services on behalf of the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS
                    AND GOLF TOURS (PTY) LTD which will only be done on a need-to-know basis
                    and in terms of a @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD operator
                    agreement.
                </p>
                <p>
                    5.4 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD do not share The Client's
                    Personal Information with any third parties who have not been described
                    above, unless:
                </p>
                <p>
                    - @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD is legally obliged to provide
                    such information to another for legal or regulatory purposes;
                </p>
                <p>
                    - @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD is required to do so for
                    purposes of existing or future legal proceedings;
                </p>
                <p>
                    - the onward transmission or sharing of Personal Information is necessary
                    for the pursuance or protection of @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY)
                    LTD legitimate interests or that of The Client or a third party;
                </p>
                <p>
                    and under all of the abovementioned circumstances, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND
                    GOLF TOURS (PTY) LTD will take reasonable measures to ensure that such
                    Personal Information is only provided to the recipient, if such recipient
                    undertakes to keep the Personal Information confidential and secure.
                </p>
                <p>
                    5.5 Where @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD must transfer The
                    Client's Personal Information across the South African borders, it will
                    before it does so, ensure that the recipient thereof agrees to be bound by
                    POPIA &amp; GDPR under and in terms of a set of binding corporate rules or
                    binding agreements that provide an adequate level of protection and uphold
                    the principles for the reasonable and lawful processing of such Personal
                    Information.
                </p>
                <p>
                    <strong>
                        <u>
                            6. RECEIPT, USE AND SHARING OF THE @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                            (PTY) LTD PERSONAL INFORMATION
                        </u>
                    </strong>
                </p>
                <p>
                    @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD on receipt and in response to a
                    query or request received from The Client, referred to under section 5
                    above, may transmit via its website, or by way of email, telephone or via
                    social media, its own Personal Information, which Personal Information on
                    receipt by the requesting or receiving party, may only be used for the
                    purpose relating to the initiating of the request or query and for no other
                    purpose. Furthermore, the recipient undertakes that it will not use this
                    Personal Information for any other purpose or share this information with
                    any other party, save where it has been given express permission to do so
                    by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD.
                </p>
                <p>
                    <strong>
                        <u>7. INFORMATION QUALITY/OPENNESS/CLIENTS PARTICIPATION</u>
                    </strong>
                </p>
                <p>
                    7.1 Whilst @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD will make all effort
                    to ensure the integrity and accuracy of The Client's Personal Information,
                    this may always not be possible. Following this, The Client accepts the
                    responsibility for keeping his / her or its Personal Information up to date
                    and undertakes to inform @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD of any
                    changes to his / her and its Personal Information.
                </p>
                <p>
                    7.2 The Client has a right of access to any Personal Information which PRO
                    GOLF SAFARIS AND GOLF TOURS (PTY) LTD may have and where applicable may ask
                    @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD to correct any inaccuracies in or
                    to any such Personal Information. Any access request must be done by making
                    a written submission at @Configuration["ApplicationConfiguration:WebAddress"]/en/contact/
                </p>
                <p>
                    <strong><u>8. SECURITY OF PERSONAL DATA</u></strong>
                </p>
                <p>
                    8.1 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD makes all reasonable effort
                    to keep its social media and electronic platforms including its website
                    secure, however @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD advises that it
                    cannot guarantee the security of any information provided to @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper()
                    SAFARIS AND GOLF TOURS (PTY) LTD or by @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD through the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD website,
                    e-mail, internet, or social media sites. Following this @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS
                    AND GOLF TOURS (PTY) LTD cannot be held responsible for any loss or
                    unauthorised use, or interception of information transmitted via these
                    social media and electronic platforms or sites, including its Internet,
                    which is beyond our reasonable control.
                </p>
                <p>
                    8.2 The @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD website may contain links
                    to other websites outside of our control. @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD is not responsible for the content, privacy, or security of these
                    other third party-controlled websites.
                </p>
                <p>
                    8.3 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD has placed cookies on its
                    website which contacts your / The Client's device to help make the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper()
                    SAFARIS AND GOLF TOURS (PTY) LTD social media and electronic platforms
                    website better. We use cookies, web beacons, pixels, or other tracking
                    technology on the Site and in the Services to provide functionality,
                    personalize your experience and recognize you across services or devices.
                    This information includes internet protocol (IP) addresses, location,
                    device type, browser type, internet service provider (ISP), referring/exit
                    pages, operating system, date/time stamp, click data, device-identifying
                    data. We may combine this automatically collected information with other
                    information that you provide us through other channels. When you interact
                    with our social media sites, the social media platform automatically
                    collects information and provides it to us.    <u>Read more about our Cookies Policies</u>
                </p>
                <p>
                    8.4 @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD makes use of social plugins
                    of social networks such as Facebook, YouTube, Instagram, LinkedIn, Google+
                    and Twitter. Please note that @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD has
                    no influence on or control over the extent of the data retrieved by the
                    social networks' interfaces and @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD
                    can accordingly not be held responsible or liable for any processing or use
                    of Personal Information transmitted via these social plugins. For
                    information on purpose and extent of the data retrieval by the social
                    network concerned, and about the rights and settings which are available
                    for you to access for the protection of your private information, please
                    refer to the data protection information provided by the social network in
                    question.
                </p>
                <p>
                    8.5 Subject to the provisions above, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY)
                    LTD has implemented the appropriate technical and organisational security
                    measures which are required to protect all Personal Information and related
                    data which it holds from and / or against unauthorised access, accidental
                    or wilful manipulation, loss, or destruction.
                </p>
                <p>
                    <strong>
                        <u>9. THIRD PARTY INFORMATION AND THAT BELONGING TO MINORS</u>
                    </strong>
                </p>
                <p>
                    9.1 If a Data Subject provides @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD
                    with Personal Information on behalf of another, @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF
                    TOURS (PTY) LTD will not be able to process the query or request unless
                    such query or request is accompanied with the required permission and
                    consent from the owner of that Personal Information.
                </p>
                <p>
                    9.2 If The Client is under the age of 18, such person's Personal
                    Information will only be processed if the minor's parent or legal guardian
                    gives the required consent or permission to the processing of the provided
                    Personal Information.
                </p>
                <p>
                    <strong><u>10. INTELLECTUAL PROPERTY RIGHTS</u></strong>
                </p>
                <p>
                    All the content contained within the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY)
                    LTD website, including pictures, text, designs, layout design, graphics
                    such as maps and logo's are the intellectual property of @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS
                    AND GOLF TOURS (PTY) LTD and it's associated companies and are as such
                    protected by South African and International Intellectual Property Law.
                </p>
                <p>
                    <strong><u>11. CONTACT DETAILS</u></strong>
                </p>
                <p>
                    You can contact @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD in relation to
                    this Privacy Policy by writing to us at or by calling our office at 021 913
                    9281 or email @Configuration["ApplicationConfiguration:InfoEmailAddress"]
                </p>
                <p>
                    <strong><u>12. REVISION OF POLICIES</u></strong>
                </p>
                <p>
                    @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS (PTY) LTD reserve the right to and may from
                    time to time update this Privacy Notice. Any such revision will be
                    published as an amended version on the @Configuration["ApplicationConfiguration:AppliactionName"].ToUpper() SAFARIS AND GOLF TOURS
                    (PTY) LTD website.
                </p>
                <p>
                    Following this, any change to this Policy will be posted as an updated
                    version and readers are advised to visit and re-read this policy on a
                    regular basis.
                </p>



            </div>
        </div>
    </div>
</section>