@using AdvertisingModule.Application.ViewModels
@using FilingModule.Blazor.Extensions
@using FilingModule.Domain.Enums
@using MudBlazor

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<MudTable Elevation="25" ServerData="ServerReload" Hover="true" Dense="@_dense" Loading="!_loaded" Bordered="@_bordered" Striped="@_striped" @ref="_table">
    <ToolBarContent>
        <div class="justify-center mud-text-align-center">
            <MudSpacer />
            @if (_canCreate)
            {
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/advertisements/create" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Create</MudButton>
            }
            <MudButton Variant="Variant.Filled" OnClick="@(async () => await Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
        </div>
    </ToolBarContent>
    <HeaderContent>
        <MudTh>Image</MudTh>
        <MudTh><MudTableSortLabel T="AdvertisementViewModel" SortLabel="Title">Title</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="AdvertisementViewModel" SortLabel="Tier">Tier</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel T="AdvertisementViewModel" SortLabel="Active">Active</MudTableSortLabel></MudTh>
        <MudTh>
            <div style="float:right">
                <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomLeft">
                    <MudMenuItem><MudSwitch @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch></MudMenuItem>
                    <MudMenuItem><MudSwitch @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch></MudMenuItem>
                    <MudMenuItem><MudSwitch @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">Bordered</MudSwitch></MudMenuItem>
                </MudMenu>
            </div>
        </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd><MudImage Src="@context.Images.ToUrl(UploadType.Cover, Configuration)" Style="width:50px; height:50px;"></MudImage></MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        <MudTd DataLabel="Tier">@context.AdvertisementTier</MudTd>
        <MudTd DataLabel="Active">@context.Active</MudTd>
        @if (ReviewStatus == ConectOne.Domain.Enums.ReviewStatus.Pending)
        {
            <MudTd DataLabel="Actions" Style="text-align: right">
                @if (_canApprove || _canReject)
                {
                    <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                        @if (_canApprove)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Edit" @onclick="@(() => ApproveAdvertisement(context.Id))">Approve</MudMenuItem>
                        }
                        @if (_canReject)
                        {
                            <MudMenuItem Icon="@Icons.Material.Filled.Delete" @onclick="@(() => RejectAdvertisement(context.Id))">Reject</MudMenuItem>
                        }
                    </MudMenu>
                }
            </MudTd>
        }
        else
        {
            <MudTd DataLabel="Actions" Style="text-align: right">
            </MudTd>
        }
       
    </RowTemplate>
</MudTable>