@using ConectOne.Blazor.Components
@using ConectOne.Domain.Extensions
@using FilingModule.Blazor.Modals
@using FilingModule.Domain.Enums
@using MessagingModule.Blazor.Components.Messages
@using Microsoft.AspNetCore.Authorization
@using SchoolsModule.Blazor.Components.ActivityCategories
@using SchoolsModule.Blazor.Components.ActivityGroups
@using Microsoft.AspNetCore.Components.Forms
@using MudBlazor
@using NeuralTech.Base.Enums
@using Radzen.Blazor
@using SchoolsModule.Domain.Entities

@attribute [Authorize]

@page "/activities/activitygroups/events/update/{EventId}"

<MudOverlay @bind-Visible="_overlayVisible" DarkBackground="true" AutoClose="true" />

<MudGrid>
    <MudItem md="6">
        <DefaultTitle Title="Update Event" Caption="Change the following information if you want to update the event" />
    </MudItem>
    <MudItem md="6">
        <MudBreadcrumbs Style="float:right" Items="_items"></MudBreadcrumbs>
    </MudItem>
</MudGrid>

@if (EventStateManager.HasEvent())
{
    <EditForm Model="EventStateManager.SchoolEvent" OnValidSubmit="UpdateAsync">
        <DataAnnotationsValidator />
        <MudGrid>
            <MudItem xs="12" sm="12" md="12" lg="12">
                <MudTabs>
                    <MudTabPanel Text="Event Details">
                        <MudGrid>
                            <MudItem xs="12" sm="12" md="4" lg="3">
                                <MudSingleImageCropperUpload OnFileAccepted="CoverImageChanged" Caption="@($"{EventStateManager.SchoolEvent!.Name}")" Src="@_imageSource" ImageType="UploadType.Cover" Entity="typeof(SchoolEvent<ActivityGroup>)" ParentId="@EventStateManager.SchoolEvent.EventId" />
                            </MudItem>
                            <MudItem xs="12" sm="12" md="8" lg="9">
                                <MudCard>
                                    <MudCardHeader>
                                        <MudText Align="Align.Center" Typo="Typo.h4">Personal Information</MudText>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        <MudGrid>
                                            <MudItem md="12">
                                                <MudTextField Label="Event Name" Class="mt-3" @bind-Value="EventStateManager.SchoolEvent!.Name" For="@(() => EventStateManager.SchoolEvent!.Name)" Margin="Margin.Dense" Variant="Variant.Outlined" />
                                            </MudItem>
                                            <MudItem md="12">
                                                <label style="padding-left:20px;">Descriptions</label>
                                                <RadzenHtmlEditor @bind-Value=@EventStateManager.SchoolEvent.Details style="height: 450px;" />
                                            </MudItem>
                                            <MudItem md="12">
                                                <MudItem md="12">
                                                    <MudSelect T="bool" Label="Home Event" @bind-Value="@EventStateManager.SchoolEvent!.HomeEvent" AnchorOrigin="Origin.BottomCenter" Variant="Variant.Outlined" Margin="Margin.Dense">
                                                        <MudSelectItem T="bool" Value="true">True</MudSelectItem>
                                                        <MudSelectItem T="bool" Value="false">False</MudSelectItem>
                                                    </MudSelect>
                                                </MudItem>
                                            </MudItem>

                                            <MudItem xs="6">
                                                <MudDateRangePicker Label="Event Dates" @bind-DateRange="_dateRange" PickerClosed="SetDateRange" Style="background-color:white"
                                                                    Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.EditCalendar"
                                                                    AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                                            </MudItem>
                                            <MudItem xs="3">
                                                <MudTimePicker Label="Start Time" @bind-Time="_startTime" PickerClosed="SetStartTime"
                                                               Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Timer"
                                                               AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                                            </MudItem>
                                            <MudItem xs="3">
                                                <MudTimePicker Label="End Time" @bind-Time="_endTime" PickerClosed="SetEndTime"
                                                               Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Timer"
                                                               AdornmentColor="Color.Primary" Margin="Margin.Dense" />
                                            </MudItem>

                                            <MudItem md="12">
                                                <MudTextField Label="Address" Class="mt-3" @bind-Value="EventStateManager.SchoolEvent!.Address" Margin="Margin.Dense" Variant="Variant.Outlined" />
                                            </MudItem>
                                            <MudItem md="12">
                                                <MudTextField Label="Google Map Link" Class="mt-3" @bind-Value="EventStateManager.SchoolEvent!.GoogleMapLink" Margin="Margin.Dense" Variant="Variant.Outlined" />
                                            </MudItem>

                                            <MudItem xs="12" md="12">
                                                <div class="d-flex">
                                                    <MudSwitch @bind-Value="@EventStateManager.SchoolEvent!.AttendanceConsentRequired" Color="Color.Warning" Style="margin-left: 5px;">Require Attendance Consent</MudSwitch>
                                                    <MudSwitch @bind-Value="@EventStateManager.SchoolEvent.TransportPermissionRequired" Color="Color.Warning" Style="margin-left: 5px;">Require Transport Consent</MudSwitch>
                                                    @if (EventStateManager.SchoolEvent.AnyOutstandingAttendanceConsents || EventStateManager.SchoolEvent.AnyOutstandingTransportPermissions)
                                                    {
                                                        <MudSpacer />
                                                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" IconColor="Color.Surface" Color="Color.Info" Style="margin-left:15px;">Resend Requests</MudButton>
                                                    }
                                                </div>
                                            </MudItem>
                                        </MudGrid>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                            <MudItem md="12">
                                <MudCard>
                                    <MudCardHeader>
                                        <MudText Typo="Typo.h6">Document Links to Include</MudText>
                                    </MudCardHeader>
                                    <MudCardContent>
                                        @if (EventStateManager.SchoolEvent!.DocumentLinks.Any())
                                        {
                                            <MudList T="string" Dense="@true" DisableGutters="false">
                                                @foreach (var item in EventStateManager.SchoolEvent.DocumentLinks)
                                                {
                                                    <MudListItem Icon="@Icons.Material.Filled.Attachment" OnClick="@(() => OpenMessageLink(item))">@item.TruncateLongString(85)<MudButton Style="float:right" OnClick="@(() => RemoveDocumentLink(item))" Size="Size.Small" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Delete</MudButton></MudListItem>
                                                }
                                            </MudList>
                                        }
                                        <MudButton OnClick="CreateLinkAsync" Variant="Variant.Filled" Color="Color.Tertiary" Class="ml-auto" FullWidth>Create New Link</MudButton>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        </MudGrid>
                    </MudTabPanel>
                
                    <MudTabPanel Text="Event Categories">
                        <ActivityCategoriesTable MultiSelection="_categoryTableMultiSelection" ServerData="CategoryTableReload" CategorySelectionChanged="OnCategorySelectionChanged" ShowLinkCategories="@(!EventStateManager.SchoolEvent!.SelectedActivityCategories.Any())"/>
                    </MudTabPanel>

                    <MudTabPanel Text="Event Teams">
                        <ActivityGroupTableV2 LearnerSelectionSelectionChanged="OnActivityGroupTeamMemberSelectionChanged"
                                              ResendAttendanceRequest="ResendAttendanceRequest" ResendTransportRequest="ResendTransportRequest" ResendActivityGroupAttendanceRequest="ResendActivityGroupAttendanceRequest"
                                              ResendActivityGroupTransportRequest="ResendActivityGroupTransportRequest" ShowLinkActivityGroupButtons="true" ShowLinkActivityGroupTeamMembersButton="true"
                                              RemoveConsent="RemoveConsent" />
                    </MudTabPanel>
                    
                    <MudTabPanel Text="Event Tickets">
                        <MudCardHeader>
                            <MudText Typo="Typo.h6">Document Links to Include</MudText>
                        </MudCardHeader>
                        <MudTable Elevation="25" Items="EventStateManager.SchoolEvent!.TicketTypes" Hover="true">
                            <HeaderContent >
                                <MudTh>Ticket Type</MudTh>
                                <MudTh>Qty Available</MudTh>
                                <MudTh>Price</MudTh>
                                <MudTh>Qty Sold</MudTh>
                                <MudTh style="text-align: right">Actions</MudTh>
                            </HeaderContent >
                            <RowTemplate Context="bb">
                                <MudTd DataLabel="Ticket Type">@bb.Name</MudTd>
                                <MudTd DataLabel="Ticket Type">@bb.QuantityAvailable</MudTd>
                                <MudTd DataLabel="Ticket Type">@bb.Price.ToString("C")</MudTd>
                                <MudTd DataLabel="Ticket Type">@bb.QuantitySold</MudTd>
                                <MudTd>
                                    <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => UpdateTicketType(bb))">Edit</MudMenuItem>
                                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => RemoveTicketType(bb.Id))">Remove</MudMenuItem>
                                    </MudMenu>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                        <MudCardContent>
                        </MudCardContent>
                        <MudCardActions>
                            <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="CreateTicketType">Create New Ticket Type</MudMenuItem>
                        </MudCardActions>
                    </MudTabPanel>

                    <MudTabPanel Text="Messages">
                            <MessagesTable MessageType="(int)MessageType.Event" EntityId="@EventStateManager.SchoolEvent!.EventId" SendPushNotification="SendPushNotification"></MessagesTable>
                        </MudTabPanel>
                </MudTabs>
            </MudItem>

            <MudItem xs="4" sm="4" md="4" lg="4">
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" FullWidth>Save</MudButton>
            </MudItem>
            <MudItem xs="4" sm="4" md="4" lg="4">
                <MudButton OnClick="UpdateAndSendAsync" Variant="Variant.Filled" Color="@PublishButtonColor" Class="ml-auto" FullWidth>Publish</MudButton>
            </MudItem>
            <MudItem xs="4" sm="4" md="4" lg="4">
                <MudButton OnClick="Cancel" Variant="Variant.Filled" Color="Color.Secondary" Class="ml-auto" FullWidth>Cancel</MudButton>
            </MudItem>

        </MudGrid>
    </EditForm>
}
