@using MudBlazor
@using ProductsModule.Domain.DataTransferObjects

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<MudGrid>
    <MudItem md="12">
        <MudTable Elevation="25" Items="_metaDataItems" Loading="true" LoadingProgressColor="Color.Primary" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
            <ToolBarContent>
                <div class="justify-center mud-text-align-center">
                    <MudSpacer />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => CreateMetadata())" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Create</MudButton>
                </div>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel T="ProductMetadataDto" SortLabel="Name">Name</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="ProductMetadataDto" SortLabel="Details.Sku">SKU</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel T="ProductMetadataDto" SortLabel="Pricing.PriceIncl">Price</MudTableSortLabel></MudTh>
                <MudTh>
                    <div style="float:right">
                        <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomLeft">
                            <MudMenuItem><MudSwitch @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch></MudMenuItem>
                            <MudMenuItem><MudSwitch @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch></MudMenuItem>
                            <MudMenuItem><MudSwitch @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">Bordered</MudSwitch></MudMenuItem>
                        </MudMenu>
                    </div>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Name">
                    @context.Name
                </MudTd>
                <MudTd DataLabel="SKU">
                    @context.Value
                </MudTd>
                <MudTd DataLabel="Actions" Style="text-align: right">
                    <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                        <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => UpdateMetadata(context))">Edit</MudMenuItem>
                        <MudMenuItem Icon="@Icons.Material.Filled.Delete" @onclick="@(() => DeleteMetadata(context.Id))">Delete</MudMenuItem>
                    </MudMenu>
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudItem>
</MudGrid>