@using MudBlazor
@using SchoolsModule.Application.ViewModels
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Elevation="25" ServerData="ServerReload" Hover="true" Dense="@_dense" Bordered="@_bordered" Striped="@_striped" @ref="_table">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @* @if (_canCreate)
                { *@
                    <MudSpacer />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="@($"/schoolclasses/create/{GradeId}")" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">Create</MudButton>
                    <MudButton Variant="Variant.Filled" OnClick="@(async() => await Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary" Style="margin-left:15px;">Reload</MudButton>                    
                @* }
                else
                {
                    <MudSpacer />
                    <MudButton Variant="Variant.Filled" OnClick="@(async() => await Reload())" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">Reload</MudButton>
                } *@
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel T="SchoolClassViewModel" SortLabel="Name">School Class</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="SchoolClassViewModel" SortLabel="Grade">Grade</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="SchoolClassViewModel" SortLabel="StartDate">Learner Count</MudTableSortLabel></MudTh>
            <MudTh>
                <div style="float:right">
                    <MudMenu Icon="@Icons.Material.Filled.Settings" Color="Color.Primary" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.BottomLeft">
                        <MudMenuItem><MudSwitch @bind-Value="@_dense" Color="Color.Secondary" Style="margin-left: 5px;">Dense</MudSwitch></MudMenuItem>
                        <MudMenuItem><MudSwitch @bind-Value="@_striped" Color="Color.Tertiary" Style="margin-left: 5px;">Striped</MudSwitch></MudMenuItem>
                        <MudMenuItem><MudSwitch @bind-Value="@_bordered" Color="Color.Warning" Style="margin-left: 5px;">Bordered</MudSwitch></MudMenuItem>
                    </MudMenu>
                </div>
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="School Class">
                @context.SchoolClass
            </MudTd>
            <MudTd DataLabel="Learner">
                @context.GradeName
            </MudTd>
            <MudTd DataLabel="End Date">
                @context.LearnerCount
            </MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
                <MudMenu Label="Actions" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" IconColor="Color.Secondary" AnchorOrigin="Origin.BottomLeft">
                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" Href="@($"/schoolclasses/update/{context.SchoolClassId}")">Edit</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" @onclick="@(() => DeleteEvent(@context.SchoolClassId!))">Delete</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.Message" @onclick="@(() => CreateChatGroup(@context.SchoolClassId!))">Create Chat</MudMenuItem>
                    <MudMenuItem Icon="@Icons.Material.Filled.Notifications" Href="@($"/SchoolClass/messages/create/{context.SchoolClassId}")">Message</MudMenuItem>
                    <MudMenu StartIcon="@Icons.Material.Filled.EditCalendar" Label="Attendance" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomLeft">
                        <MudMenuItem Href="@($"/schoolclasses/attendance/{context.SchoolClassId}")">Create</MudMenuItem>
                        <MudMenuItem Href="@($"/attendancegroups/{context.SchoolClassId}")">History</MudMenuItem>
                    </MudMenu>
                </MudMenu>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new[] { 10, 25, 50, 100 }" />
        </PagerContent>
    </MudTable>
}